
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  
    function isUserAuthenticated(uid) {
      return request.auth != null && request.auth.uid == uid;
    }
    
    match /users/{userId} {
      allow read, write: if isUserAuthenticated(userId);
    }

    match /watchlist/{document=**} {
        allow read, write: if isUserAuthenticated(request.resource.data.userId);
    }
    
    match /trade_journal/{document=**} {
        allow read, write: if isUserAuthenticated(request.resource.data.userId);
    }

    // Admin-only collections
    function isUserAdmin() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }
    
    match /logs/{document=**} {
      allow read: if isUserAdmin();
      allow write: if true; // Allow server-side logging
    }

    match /news_feed/{document=**} {
      allow read: if request.auth != null;
      allow write: if isUserAdmin();
    }
    
    match /news_sources/{document=**} {
      allow read, write: if isUserAdmin();
    }

    match /data_sources/{document=**} {
      allow read, write: if isUserAdmin();
    }
    
    match /scanners/{document=**} {
      allow read: if request.auth != null;
      allow write: if isUserAdmin();
    }

    match /prompts/{document=**} {
       allow read: if request.auth != null;
       allow write: if isUserAdmin();
    }
    
     match /feature_flags/{document=**} {
       allow read: if request.auth != null;
       allow write: if isUserAdmin();
    }

    match /test_writes/{document=**} {
      allow read, write: if isUserAdmin();
    }
  }
}
